{# This modal is not 100% accessible as it doesn't trap focus #}
{% macro auiModal(options) %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const trigger = document.querySelector("#{{ options.trigger.id }}");
    const close = document.querySelector("#aui-modal__close");
    const modal = document.querySelector("#aui-modal");
    const modalOverlay = document.querySelector("#aui-modal-overlay");

    trigger.addEventListener("click", function (event) {
      modalOverlay.classList.add("aui-modal-overlay--visible");
      close.focus();
    });

    close.addEventListener("click", function (event) {
      modalOverlay.classList.remove("aui-modal-overlay--visible");
    });

    document.addEventListener("click", function (event) {
      if (!modal.contains(event.target) && !trigger.contains(event.target)) {
        modalOverlay.classList.remove("aui-modal-overlay--visible")
      }
    })
  });
</script>

<div id="aui-modal-overlay" class="aui-modal-overlay {% if options.show %}aui-modal-overlay--visible{% endif %}">
  <div class="aui-modal" id="aui-modal" role="dialog" aria-modal="true" aria-labelledby="aui-modal__heading">
    <div class="aui-modal__header" tabindex="-1">
      {% if options.heading %}
        {% if options.heading.text %}
          <h1 style="margin: 0;" class="govuk-heading-m">
            {{ options.heading.text }}
          </h1>
        {% else %}
          {{ options.heading.html | safe }}
        {% endif %}
      {% else %}
        <h1 style="margin: 0;" class="govuk-heading-m">
          Modal header
        </h1>
      {% endif %}
      <button id="aui-modal__close" class="aui-button" title="Click or press enter key to cancel this action">
        <i class="pi pi-close" aria-hidden="true"></i>
      </button>
    </div>
    <div class="aui-modal__content govuk-body" tabindex="-1" style="margin: 0;">
      {{ options.content.html | safe }}
    </div>
    {% if options.footer %}
    <div class="aui-modal__footer" tabindex="-1">
      {{ options.footer.html | safe }}
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}