.constellation-wrapper {
  border: 16px solid var(--aui-wrapper);
}

.constellation-wrapper--centered {
  max-width: 1600px;
  margin-inline: auto;
}

.constellation-case {
  background: var(--aui-wrapper);
  display: grid;
  min-height: calc(100vh - 75.35px);
}

@media (min-width: 768px) {
  .constellation-case {
    grid-template-columns: 0.25fr 1fr auto;
  }
}

.constellation-summary {
  background-color: var(--govuk-white);
}

.constellation-summary__case {
  background: var(--hmrc-green);
  color: var(--govuk-white);
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.constellation-summary__meta {
  padding: 18px;
  display: grid;
  gap: 18px;
}

.constellation-case__info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.constellation-case__icon {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: var(--hmrc-green-offset);
  color: var(--govuk-white);
  display: grid;
  place-content: center;
}

.constellation-case__label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
}

.constellation-content {
  padding-inline: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 10px;
}

.constellation-lifecycle {
  background: var(--govuk-white);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.constellation-lifecycle__step {
  padding: 8px 12px;
}

.constellation-lifecycle__step:not(:last-child) {
  border-right: 1px solid var(--govuk-mid-grey);
}

.constellation-lifecycle__step--active {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.constellation-tasks {
  background: var(--govuk-white);
  border-radius: 6px;
  padding: 18px;
}

.constellation-utilities__card {
  border-radius: 6px;
  background: var(--govuk-white);
  padding: 10px;
}

.constellation-tabs--horizontal {
  list-style: none;
  display: grid;
  border-bottom: 0;
}

.constellation-tab--horizontal {
  padding: 14px 18px;
  border-bottom: 1px solid var(--govuk-mid-grey);
}

.constellation-tab--horizontal:first-child {
  border-top: 1px solid var(--govuk-mid-grey);
}

.constellation-tab--horizontal--active {
  border-right: 3px solid var(--hmrc-green);
  color: var(--govuk-black);
}

.constellation-tab__panel {
  background: var(--govuk-white);
  border-radius: 6px;
  padding: 18px;
}

/** To be used with "govuk-button" class, this just sets our custom colours **/
.constellation-button,
.constellation-button:link,
.constellation-button:visited {
  background: var(--hmrc-green);
  color: var(--govuk-white);
}

.constellation-button:hover,
.constellation-button:visited:hover {
  background: var(--hmrc-green-offset);
}

.constellation-button--inverse,
.constellation-button--inverse:link,
.constellation-button--inverse:visited {
  background: var(--govuk-white);
  color: var(--hmrc-green);
  border: 1px solid var(--hmrc-green);
}

.constellation-button--inverse:hover,
.constellation-button--inverse:visited:hover {
  background: var(--hmrc-green);
  color: var(--govuk-white);
}

.constellation-error-message {
  color: var(--govuk-error-red);
  order: 3;
  font-weight: 400;
}

.constellation-error-message::before {
  content: url("/public/images/icon__warn-solid.svg");
  display: inline-block;
  transform: scale(0.8) translateY(25%);
  vertical-align: baseline;
  min-width: 14px;
  min-height: 14px;
  fill: currentColor;
}

.constellation-error-message--setup {
  display: flex;
  flex-direction: column;
}
