{% macro auiConstellationFieldValueList(options) %}
  <dl
    class="constellation-field-value-list {% if options.showHorizontal %}constellation-field-value--horizontal{% endif %}">
    {% for item in options.items %}
    <div
      class="constellation-field-value {% if item.showVertical %}constellation-field-value--vertical{% endif %}">
      <dt style="color: var(--govuk-dark-grey);" class="govuk-!-font-weight-bold">
        {{ item.key.html | safe }}
      </dt>
      <dd class="govuk-!-font-weight-bold">
        {{ item.data.html | safe }}
      </dd>
    </div>
    {% endfor %}
  </dl>
{% endmacro %}