{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% from "../components/aui-popover/macro.njk" import auiPopover %}
{% from "../components/aui-header/macro.njk" import auiHeader %}
{% from "../components/aui-navigation/macro.njk" import auiNavigation %}
{% from "../components/aui-sidebar/macro.njk" import auiSidebar %}

{% block pageTitle %}
HMRC Adviser UI
{% endblock %}

{% set serviceName %}
ADVISER UI
{% endset %}

{% set mainClasses = "aui-container" %}
{% set containerClasses = "aui-container" %}

{% block header %}
  {% set newPopoverHtml %}
    {{ auiPopover({
      trigger: {
        id: "aui-header__service-button",
        title: "New",
        html: "<span class='aui-header__service-button'><i class='pi pi-plus' aria-hidden='true'></i> New</span>"
      },
      popover: {
        id: "aui-header__service-button-popover",
        html: ""
      }
    }) }}
  {% endset %}

  {{ auiHeader({
    logo: {
      url: "/public/svg/hmrc-logo-white.svg",
      href: "#",
      title: "HM Revenue and Customs - Home"
    },
    serviceName: serviceName,
    newPopover: {
      html: newPopoverHtml
    },
    actions: [
      {
        title: "Start a call, your status is Logged Off",
        icon: "phone-solid"
      },
      {
        title: "Start my day",
        icon: "robot"
      },
      {
        title: "Profile",
        icon: "user-solid"
      }
    ]
  }) }}

  {{ auiNavigation({
    homeTab: {
      active: true
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="{{ auiMainClasses or "aui-grid-one-quarter" }}">
    {% block beforePage %}
      {{ auiSidebar({
        items: [
          {
            icon: "case",
            href: "#",
            active: true,
            text: "My work"
          },
          {
            icon: "gauge",
            href: "#",
            active: false,
            text: "Dashboard"
          }
        ]
      }) }}
    {% endblock %}

    <section class="{{ auiSectionClasses }}" aria-label="Adviser UI page">
      {% if pageHeading %}
        <h1 class="govuk-heading-l aui-page-heading">{{ pageHeading }}</h1>
      {% else %}
        <h1 class="govuk-heading-l aui-page-heading">Welcome John Smith</h1>
      {% endif %}
      <div class="{{ auiPageClasses or "aui-page-content" }}">
        {% block page %}{% endblock %}
      </div>
    </section>
  </div>
{% endblock %}