/* Overridden width 300px */
.aui-modal {
  min-width: 640px;
  max-height: 90vh;
  background: var(--govuk-white);
  border: 1px solid var(--govuk-black);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.aui-modal:focus {
  outline: 2px solid var(--govuk-focus);
  outline-offset: 2px;
}

.aui-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  place-content: center;
}

.aui-modal-overlay--visible {
  display: grid;
}

.aui-modal__header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--govuk-light-grey);
}

.aui-modal__content {
  padding: 12px;
  overflow-y: auto;
}

.aui-modal__close {
  width: 24px;
  height: 24px;
}

.aui-modal__footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
