{# This modal is not 100% accessible as it doesn't trap focus #}
{% macro auiModal(options) %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const trigger = document.querySelector("#{{ options.trigger.id }}");
    const close = document.querySelector("#aui-modal__close");
    const modal = document.querySelector("#aui-modal");
    const modalOverlay = document.querySelector("#aui-modal-overlay");
    const focusableElements = modal.querySelectorAll('a, area, button, iframe, [tabindex]:not([tabindex="-1"]), input, select, textarea');
    const firstFocusableElement = focusableElements[0];
    const lastFocusableElement = focusableElements[focusableElements.length - 1];

    trigger.addEventListener("click", function (event) {
      modalOverlay.classList.add("aui-modal-overlay--visible");
      modal.focus();
      trapFocus();
    });

    close.addEventListener("click", closeModal);

    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape") {
        closeModal();
      }
    });

    function closeModal() {
      modalOverlay.classList.remove("aui-modal-overlay--visible");
      trigger.focus(); // Return focus to the trigger button
    }

    function trapFocus() {
      modal.addEventListener('keydown', function (event) {
        const isTabPressed = (event.key === 'Tab' || event.keyCode === 9);

        if (!isTabPressed) {
          return;
        }

        if (event.shiftKey) { // Shift + Tab
          if (document.activeElement === firstFocusableElement) {
            event.preventDefault();
            lastFocusableElement.focus();
          }
        } else { // Tab
          if (document.activeElement === lastFocusableElement) {
              event.preventDefault();
              firstFocusableElement.focus();
          }
        }
      });
    }
  });
</script>

<div id="aui-modal-overlay" class="aui-modal-overlay {% if options.show %}aui-modal-overlay--visible{% endif %}">
  <div class="aui-modal" id="aui-modal" role="dialog" aria-modal="true" aria-labelledby="aui-modal__heading" tabindex="0">
    <div class="aui-modal__header">
      {% if options.heading %}
        {% if options.heading.text %}
          <h1 style="margin: 0;" class="govuk-heading-m">
            {{ options.heading.text }}
          </h1>
        {% else %}
          {{ options.heading.html | safe }}
        {% endif %}
      {% else %}
        <h1 style="margin: 0;" class="govuk-heading-m">
          Modal header
        </h1>
      {% endif %}
      <button id="aui-modal__close" class="aui-button aui-modal__close" title="Click or press enter key to cancel this action">
        <i class="pi pi-close" width="24" aria-hidden="true"></i>
      </button>
    </div>
    <div class="aui-modal__content govuk-body" tabindex="-1" style="margin: 0;">
      {{ options.content.html | safe }}
    </div>
    {% if options.footer %}
    <div class="aui-modal__footer" tabindex="-1">
      {{ options.footer.html | safe }}
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}