{% macro auiInformationBanner(options) %}
<section class="aui-information-banner" aria-label="Top panel">
  {% for item in options.bannerItems %}
  <div class="aui-information-banner__item">

    {% if item.heading %}
    <p class="aui-information-banner__heading">{{ item.heading }}</p>
    {% endif %}

    {{ item.html | safe }}
  </div>
  {% endfor %}
</section>
{% endmacro %}