{% extends "govuk-prototype-kit/layouts/unbranded.html" %} 

{% from "../components/aui-popover/macro.njk" import auiPopover %}
{% from "../components/aui-header/macro.njk" import auiHeader %}
{% from "../components/aui-navigation/macro.njk" import auiNavigation %}
{% from "../components/aui-information-banner/macro.njk" import auiInformationBanner %}
{% from "../components/aui-constellation-field-value-list/macro.njk" import auiConstellationFieldValueList %}
{% from "../components/aui-constellation-case/macro.njk" import auiConstellationCase %}

{% block pageTitle %}
HMRC Adviser UI 
{% endblock %} 

{% set serviceName %} 
ADVISER UI 
{% endset %} 

{% set mainClasses = "aui-container" %} 
{% set containerClasses = "aui-container" %} 

{% block header %} 
  {% set newPopoverHtml %} 
    {% set popoverHtml %}
      <span class="aui-header__service-button">
        <i class="pi pi-plus" aria-hidden="true"></i> New
      </span>
    {% endset %}

    {{ auiPopover({
      trigger: { 
        id: "aui-header__service-button", 
        title: "New", 
        html: popoverHtml 
      }, 
      popover: { 
        id: "aui-header__service-button-popover", 
        html: "" 
      } 
    }) }} 
  {% endset %}

  {{ auiHeader({
    logo: {
      url: "/public/svg/hmrc-logo-white.svg",
      href: "#",
      title: "HM Revenue and Customs - Home"
    },
    serviceName: serviceName,
    newPopover: {
      html: newPopoverHtml
    },
    actions: [
      {
        title: "Start a call, your status is Logged Off",
        icon: "phone-solid"
      },
      {
        title: "Start my day",
        icon: "robot"
      },
      {
        title: "Profile",
        icon: "user-solid"
      }
    ]
  }) }}

  {{ auiNavigation({
    homeTab: {
      active: true
    }
  }) }}
{% endblock %} 

{% block content %}
<div class="{{ auiMainClasses }}">
  {% block beforePage %} 
    {% set formHtml %}
      {{ govukButton({
        text: "View claim replay",
        classes: "govuk-button govuk-button--secondary",
        href: "/claim-child-benefit/auth/post-print/claim-replay.html"
      }) }}
    {% endset %} 
    
    {% set unknownCustomerHtml %}
      <div class="aui-flex" style="--aui-flex-gap: 8px">
        <i style="font-size: 40px" class="pi pi-user"></i>
        <p class="aui-information-banner__heading">
          Unknown customer
        </p>
      </div>
    {% endset %}
    
    {{ auiInformationBanner({ 
      bannerItems: [ 
        { 
          html: unknownCustomerHtml 
        }, 
        { 
          heading: "Customer information", 
          html: "" 
        }, 
        { 
          heading: "Some other heading", 
          html: "" 
        }, 
        { 
          heading: "Relationship", 
          html: ""
        }, 
        { 
          heading: "Forms", 
          html: formHtml 
        } 
      ] 
    }) }} 
  {% endblock %}

  <section class="{{ auiSectionClasses }}" aria-label="Adviser UI page">
    {% if pageHeading %}
      <h1 class="govuk-heading-l aui-page-heading">{{ pageHeading }}</h1>
    {% endif %}
    <div class="{{ auiPageClasses }}">
      {% block page %} 
        {% set summaryMetaHtml %}
          {{ auiConstellationFieldValueList({
            showHorizontal: true,
            items: [
              {
                showVertical: true,
                key: {
                  html: "Claim started"
                },
                data: {
                  html: "29 Nov 2029"
                }
              },
              {
                showVertical: true,
                key: {
                  html: "Claim received"
                },
                data: {
                  html: "29 Nov 2029"
                }
              }
            ]
          }) }}

          {{ auiConstellationFieldValueList({
            showHorizontal: false,
            items: [
              {
                showVertical: false,
                key: {
                  html: "Example key"
                },
                data: {
                  html: "Example data"
                }
              }
            ]
          }) }}
        {% endset %}

        {{ auiConstellationCase({
          includeWrapper: true,
          summary: {
            case: {
              icon: "case",
              label: "Case",
              id: "C-10986",
              options: [
                {
                  html: "Optional action",
                  href: "#"
                }
              ]
            },
            meta: summaryMetaHtml,
            tabs: [
              {
                text: "Claimant details",
                active: true,
                href: "#",
                panel: {
                  html: "Example tab panel"
                }
              },
              {
                text: "Pulse",
                active: false,
                href: "#"
              }
            ]
          },
          lifeCycle: [
            {
              text: "1",
              complete: true
            },
            {
              text: "Example",
              active: true
            },
            {
              text: "3",
              complete: true
            }
          ],
          tasks: {
            label: {
              text: "Tasks"
            },
            html: "Your tasks"
          },
          utilities: {
            html: "U"
          }
        }) }}
      {% endblock %}
    </div>
  </section>
</div>
{% endblock %}
