{% extends "govuk-prototype-kit/layouts/unbranded.html" %} {% block pageTitle %}
HMRC Adviser UI {% endblock %} {% set serviceName %} ADVISER UI {% endset %} {%
set mainClasses = "aui-container" %} {% set containerClasses = "aui-container"
%} {% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="/public/sass/pega-icons.css" />
{% endblock %} {% block header %} {% set newPopoverHtml %} {{ hmrcAuiPopover({
trigger: { id: "aui-header__service-button", title: "New", html: "<span
  class="aui-header__service-button"
  ><i class="pi pi-plus" aria-hidden="true"></i> New</span
>" }, popover: { id: "aui-header__service-button-popover", html: "" } }) }} {%
endset %}

{{
  hmrcAuiHeader({
    logo: {
      url: "/public/svg/hmrc-logo-white.svg",
      href: "#",
      title: "HM Revenue and Customs - Home"
    },
    serviceName: serviceName,
    newPopover: {
      html: newPopoverHtml
    },
    actions: [
      {
        title: "Start a call, your status is Logged Off",
        icon: "phone-solid"
      },
      {
        title: "Start my day",
        icon: "robot"
      },
      {
        title: "Profile",
        icon: "user-solid"
      }
    ]
  })
}}

{{
  hmrcAuiHeaderTabs({
    homeTab: {
      active: true
    }
  })
}}
{% endblock %} {% block content %}
<div class="{{ auiMainClasses }}">
  {% block beforePage %} {% set formHtml %}
  {{
    govukButton({
      text: "View claim replay",
      classes: "govuk-button govuk-button--secondary",
      href: "/claim-child-benefit/auth/post-print/claim-replay.html"
    })
  }}
  {% endset %} {{ hmrcAuiInformationBanner({ bannerItems: [ { html: "
  <div class="aui-flex" style="--aui-flex-gap: 8px">
    <i style="font-size: 40px" class="pi pi-user"></i>
    <p class="aui-information-banner__heading">Unknown customer</p>
  </div>
  " }, { heading: "Customer information", html: "" }, { heading: "Some other
  heading", html: "" }, { heading: "Relationship", html: "" }, { heading:
  "Forms", html: formHtml } ] }) }} {% endblock %}

  <section class="{{ auiSectionClasses }}" aria-label="Adviser UI page">
    {% if pageHeading %}
    <h1 class="govuk-heading-l aui-page-heading">{{ pageHeading }}</h1>
    {% endif %}
    <div class="{{ auiPageClasses }}">
      {% block page %} {% set summaryMetaHtml %}
      {{
        hmrcConstellationFieldValueList({
          showHorizontal: true,
          items: [
            {
              showVertical: true,
              key: {
                html: "Claim started"
              },
              data: {
                html: "29 Nov 2029"
              }
            },
            {
              showVertical: true,
              key: {
                html: "Claim received"
              },
              data: {
                html: "29 Nov 2029"
              }
            }
          ]
        })
      }}

      {{
        hmrcConstellationFieldValueList({
          showHorizontal: false,
          items: [
            {
              showVertical: false,
              key: {
                html: "Example key"
              },
              data: {
                html: "Example data"
              }
            }
          ]
        })
      }}
      {% endset %}

      {{
        hmrcConstellationCase({
          includeWrapper: true,
          summary: {
            case: {
              icon: "case",
              label: "Case",
              id: "C-10986",
              options: [
                {
                  html: "Optional action",
                  href: "#"
                }
              ]
            },
            meta: summaryMetaHtml,
            tabs: [
              {
                text: "Claimant details",
                active: true,
                href: "#",
                panel: {
                  html: "Example tab panel"
                }
              },
              {
                text: "Pulse",
                active: false,
                href: "#"
              }
            ]
          },
          lifeCycle: [
            {
              text: "1",
              complete: true
            },
            {
              text: "Example",
              active: true
            },
            {
              text: "3",
              complete: true
            }
          ],
          tasks: {
            label: {
              text: "Tasks"
            },
            html: "Your tasks"
          },
          utilities: {
            html: "U"
          }
        })
      }}
      {% endblock %}
    </div>
  </section>
</div>
{% endblock %}
